name: Python Tests

on:
  pull_request:
    branches:
      - main
      - release
  push:
    branches:
      - release
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python and uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"

      - name: Create venv and install .[all]
        run: |
          uv venv .venv
          source .venv/bin/activate
          uv sync --all-groups
          uv pip install -e

      - name: Run pytest with coverage
        run: |
          source .venv/bin/activate
          pytest --cov --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
